doctype html
html
  head
      block head
        title Aurora - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
        script(src="/javascripts/index.js" type="module" defer)
        script(src="https://kit.fontawesome.com/f041d2b7f3.js" crossorigin="anonymous")
  body
    block nav

      div.topnav
        a(href="/")
          img.logo(src="/images/logo.svg" width="150px")
        div.flex-containter
          a.topnav__button(href="/") 🏠 Home
          a.topnav__button(href="/topics") 📄 Topics
          if locals.authenticated
            a.topnav__button(href="/questions/new") 📝 Add a Question
        form#search_form(action="/search" method="post")
          button.nav__search_button(type="submit") 🔍
          input.search_bar(type="text" name="searchTerm" placeholder="Search" required)

        if locals.authenticated
          form( action='/logout' method='post')
            button.nav__submit_button(type='submit') Log Out
        else
          form(action="/login" method="get")
            button.nav__submit_button(type="submit") Log In
          form(action="/signup" method="get")
            button.nav__submit_button(type="submit") Sign Up

    block content
      div.content
        div.wrapper

    block footer
      div.footer
        div.footer_about_dev
          div.footer_icons
              a(href="https://github.com/vantanova")
              img.footer_dev_image(src='https://avatars1.githubusercontent.com/u/70561117?s=460&u=85a68af6fc136866eb4f33ee657aeb751aba9935&v=4')
              a(href="https://www.linkedin.com/in/antonio-aguilar-2b99a21b3/")
                  img.footer_linkedin(src='../images/linkedin-original.svg')
        div.footer_about_dev
          div.footer_icons
              a(href="https://mattkufchak.com/")
                  img.footer_dev_image(src='https://avatars3.githubusercontent.com/u/70362985?s=460&u=f842593461c24188b7472e98ec2813b87221bca2&v=4')
              a(href="https://www.linkedin.com/in/mattkufchak/")
                  img.footer_linkedin(src='../images/linkedin-original.svg')
        div.footer_about_dev.footer_text the developers
        div.footer_about_dev
          div.footer_icons
              a(href="https://lettemax.github.io/portfolio/")
                  img.footer_dev_image(src='https://avatars0.githubusercontent.com/u/11065513?s=460&u=0c6a04b31933e0835366b26a34b62c33f3c427ca&v=4')
              a(href="https://www.linkedin.com/in/max-lettenberger-b29ba11a4/")
                  img.footer_linkedin(src='../images/linkedin-original.svg')
        div.footer_about_dev
          div.footer_icons
              a(href="https://quintinhull.github.io/#")    
                  img.footer_dev_image(src='https://avatars2.githubusercontent.com/u/70037265?s=460&u=c4f09b24fc3acea13c4c81e5f0eef835bf54780b&v=4')
              a(href="https://www.linkedin.com/in/quintinhull92/")
                  img.footer_linkedin(src='../images/linkedin-original.svg')
