
mixin question({ User: { username }, title, message })
    div
        h2= username
        h3= title
        h3= message

mixin validationErrorSummary(errors)
  if errors
    div(class='errors-alert' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

