extends layout.pug

include utils.pug

block content
    div.main
        div.main__left_col
        div.main__center_col
            each question in questions
                +question(question)
        div.main__right_col