doctype html
html
  head
      block head
        //- title needs to be passed in on route handlers
        title Aurora - #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/index.css')
  body
    //- nav bar (including home button)
    div.nav_bar
      a(href="/")
        img(src="/images/logo.svg" width="150px")


  //- logo image
  block content
