extends layout.pug
include utils.pug

block content
  +validationErrorSummary(errors)
  div.form.child
    h1.form__title Log In
    form(action='/login' method='post')
      label(for='username') Username:
      input(type="text" name="username" class="form__input_field" required)
      div
      label(for="password") Password:
      input(type="password" name="password" class="form__input_field" required)
      div
      button(type="submit" class="form__submit_button") Log In
      form(action="/login/demo" method="post")
        input(type="hidden" name="_csrf" value=csrfToken)
        button(type="submit" class="form__submit_button") Demo User

      input(type="hidden" name="_csrf" value=csrfToken)
      div.small_hyperlink
        a(href='/signup') Don't have an account? Sign up here.
